
#root {
    --dark: #18191c;
    --primary: #ff0000;
    --white: #ffffff;
    --textColor: #8e8f91;
    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    
    --primary-50: #000000;
    --primary-100: #ff0000;
    --primary-200: rgb(255, 0, 0);
    --primary-300: #ff8181;
    --primary-400: #00a50b;
    --primary-500: #ff0000;
    --primary-600: #ff0000;
    --primary-700: #ff0000;
    --primary-800: #1e1433;
    --primary-900: #0f0a19;
    
    --secondary-50: #ccf7ec;
    --secondary-100: #99f0da;
    --secondary-200: #66e8c7;
    --secondary-300: #33e1b5;
    --secondary-400: #00d9a2;
    --secondary-500: #00ae82;
    --secondary-600: #008261;
    --secondary-700: #005741;
    --secondary-800: #002b20;
    --secondary-900: #001610;
    
    --danger-0: #fbf1f3ff;
    --danger-50: #fdd5de;
    --danger-100: #faabbd;
    --danger-200: #f8829b;
    --danger-300: #f5587a;
    --danger-400: #f32e59;
    --danger-500: #c22547;
    --danger-600: #921c35;
    --danger-700: #611224;
    --danger-800: #310912;
    --danger-900: #180509;
    
    --success: var(--secondary-400);
    --danger: var(--danger-400);
    --primary: var(--primary-400);
    
    --secondary: var(--secondary-400);
    
    --neutral-900: #131416;
    --neutral-800: var(--dark);
    --neutral-700: #212327;
    --neutral-600: #5d5e60;
    --neutral-500: #8e8f91;
    --neutral-400: #d1d1d2;
    --neutral-300: #bababb;
    --neutral-200: #a3a3a4;
    --neutral-100: var(--gray-100);
    --neutral-50: var(--gray-50);
    --neutral-0: var(--white);
    
    --orange: #ff9861;
    
    --yellow-50: #fffdef;
    --yellow-100: #fffbdf;
    --yellow-200: #fff8c0;
    --yellow-300: #fff4a0;
    --yellow-400: #fff181;
    --yellow-500: #ffed61;
    --yellow-600: #ccbe4e;
    --yellow-700: #998e3a;
    --yellow-800: #665f27;
    --yellow-900: #000000;
    --yellow: #ffed61;
    
    --fontFamily: "Poppins", sans-serif;
    }