@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url("./Colors.css");
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  opacity: 1;
  -webkit-text-fill-color: rgba(255, 255, 255, 1.38)
}

body {
	margin: 0;
	font-family: "VT323", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #240000;
  font-size: 20px!important;

	color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.38)
}
.MuiButton-containedPrimary {
  color: #fff;
  background-color: #33ff00;
}
body {
	min-height: 100vh!important;
	font-family: "VT323", monospace;
	background-color: rgb(92, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.38)
}

.console{
  background-color: #240000;
  font-size: 20px!important;
  font-family: "VT323", monospace;
  color: rgb(255, 252, 252);
}
.social-links {
  position: absolute;
  top: 12px;
  right: 24px;
  padding: 12px;
}
.social-links a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}
.social-links a:hover {
  text-decoration: none;
  color: var(--neutral-200);
}
h1 {
  width: 100%;
  font-size: 3.7vw;
  margin-top: 0px;
}
h2 {
  width: 100%;
  font-size: 2vw;
}
